<ul class="reproducible-links new-menu children">
  <h4>Reproducible Builds projects</h4>
  <li>
    <a href="https://Reproducible-builds.org">Reproducible-builds.org</a><br />
    Reproducible-builds.org - <a href="https://Reproducible-builds.org/docs/">HowTo</a><br />
    Reproducible Debian - <a href="https://wiki.debian.org/ReproducibleBuilds">Wiki</a><br />
    Reproducible builds <a href="https://reproducible.alioth.debian.org/blog/">weekly news</a><br />
    <a href="https://reproducible-builds.org/specs/source-date-epoch/">SOURCE_DATE_EPOCH specification</a><br />
  </li>
  <li>
    <a href="https://reproducible-builds.org/citests/">CI tests</a>
  </li>
</ul>
